/* CONFIGURAÇÕES DE ADMIN */
.config {
    z-index: 5;
}

.items_adm {
    width: 160px;
    font-size: .9em;
    transform: translate(-44%, -50%);
    left: -50px !important;
    top: 47px;
    display: none !important;
}

.items_adm a:hover {
    background: rgba(255, 255, 255, .4);
}

.showMenuAdmin {
    display: flex !important;
}